In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()

In [6]:
df = pd.read_csv('developer_dataset.csv')
print(df.columns)

Index(['RespondentID', 'Year', 'Country', 'Employment', 'UndergradMajor',
       'DevType', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'Hobbyist', 'OrgSize', 'YearsCodePro',
       'JobSeek', 'ConvertedComp', 'WorkWeekHrs', 'NEWJobHunt',
       'NEWJobHuntResearch', 'NEWLearn'],
      dtype='object')

/var/folders/6h/lnfx8ldx4tl9gx8x55hbhclm0000gn/T/ipykernel_4511/1795078173.py:1: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('developer_dataset.csv')

In [7]:
df.count()

RespondentID              111209
Year                      111209
Country                   111209
Employment                109425
UndergradMajor             98453
DevType                   100433
LanguageWorkedWith        102018
LanguageDesireNextYear     96044
DatabaseWorkedWith         85859
DatabaseDesireNextYear     74234
PlatformWorkedWith         91609
PlatformDesireNextYear     85376
Hobbyist                   68352
OrgSize                    54804
YearsCodePro               94793
JobSeek                    60556
ConvertedComp              91333
WorkWeekHrs                51089
NEWJobHunt                 19127
NEWJobHuntResearch         18683
NEWLearn                   24226
dtype: int64

In [9]:
df.describe(include="all")

,RespondentID,Year,Country,Employment,UndergradMajor,DevType,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,...,PlatformDesireNextYear,Hobbyist,OrgSize,YearsCodePro,JobSeek,ConvertedComp,WorkWeekHrs,NEWJobHunt,NEWJobHuntResearch,NEWLearn
count,111209.000000,111209.000000,111209,109425,98453,100433,102018,96044,85859,74234,...,85376,68352,54804,94793.000000,60556,9.133300e+04,51089.000000,19127,18683,24226
unique,NaN,NaN,9,7,19,15627,33037,36490,7936,8558,...,16024,2,10,NaN,3,NaN,NaN,1751,63,4
top,NaN,NaN,United States,Employed full-time,"Computer science, computer engineering, or sof...","Developer, full-stack",C#;HTML/CSS;JavaScript;SQL,Python,MySQL,PostgreSQL,...,Linux,Yes,20 to 99 employees,NaN,"Iâ€™m not actively looking, but I am open to new...",NaN,NaN,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year
freq,NaN,NaN,53727,84707,60852,6814,1071,1263,5850,4474,...,4343,54733,10516,NaN,33943,NaN,NaN,548,1319,9312
mean,19262.039709,2018.854832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.547045,NaN,1.251777e+05,41.051670,NaN,NaN,NaN
std,11767.011322,0.777503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.548931,NaN,2.461218e+05,13.833929,NaN,NaN,NaN
min,1.000000,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,0.000000e+00,1.000000,NaN,NaN,NaN
25%,9268.000000,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.000000,NaN,4.600000e+04,40.000000,NaN,NaN,NaN
50%,18535.000000,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.000000,NaN,7.900000e+04,40.000000,NaN,NaN,NaN
75%,28347.000000,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.000000,NaN,1.200000e+05,42.000000,NaN,NaN,NaN
max,42857.000000,2020.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.000000,NaN,2.000000e+06,475.000000,NaN,NaN,NaN